<div class="ui search" [class.loading]="isLoading">
    <div class="ui icon input">
      <input type="text" 
        placeholder="{{'home.searchLabel' | translate }}"
        class="prompt"
        (keyup)="keyUp$.next($event.target.value)">
      <i class="search icon"></i>
    </div>
    <div class="results transition visible" *ngIf="foundContacts.length">
      <a class="result"
        *ngFor="let contact of foundContacts"
        [routerLink]="['..', 'contacts', contact.id]"
        >{{ contact.firstname}} {{ contact.lastname}}
        <p class="description">{{contact.postcode}} {{contact.place}}</p>
      </a>
    </div>
  </div>
