<form class="ui form"
  [formGroup]="contactForm"
  (ngSubmit)="submitForm()">

  <label>{{'form.firstname' | translate }}</label>
  <input formControlName="firstname">
  <app-form-messages
    [control]="contactForm.get('firstname')"
    controlName="firstname"
  ></app-form-messages>

  <label>{{'form.lastname' | translate }}</label>
  <input formControlName="lastname">
  <app-form-messages
    [control]="contactForm.get('lastname')"
    controlName="lastname"
  ></app-form-messages>

  <label>{{'form.email' | translate }}</label>
  <input formControlName="email">
  <app-form-messages
    [control]="contactForm.get('email')"
    controlName="email"
  ></app-form-messages>

  <label>{{'form.street' | translate }}</label>
  <input formControlName="street">

  <div class="fields">
    <div class="two wide field">
      <label>{{'form.postcode' | translate }}</label>
      <input formControlName="postcode">
    </div>
    <div class="fourteen wide field">
      <label>{{'form.place' | translate }}</label>
      <input formControlName="place">
    </div>
  </div>
  <app-form-messages
    [control]="contactForm.get('postcode')"
    controlName="postcode"
  ></app-form-messages>

  <label>{{'form.fon' | translate }}</label>
  <input formControlName="fon">

  <label>{{'form.mobil' | translate }}</label>
  <input formControlName="mobil">

  <label>{{'form.born' | translate }}</label>
  <input formControlName="born" type="date">

  <label>{{'form.img' | translate }}</label>
  <input formControlName="img">

  <button
    class="ui button"
    type="submit"
    [disabled]="contactForm.invalid">
    {{'form.btnSave' | translate }}
  </button>
</form>
