<!doctype html>
<html>

<head>
  <meta charset='utf-8' />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

  <title>Vuetifiy CRUD</title>

  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.2.8/dist/vuetify.min.css" rel="stylesheet">
  <link href="./css/style.css" rel="stylesheet">

  <style>
  </style>

  <script src="https://cdn.jsdelivr.net/npm/babel-polyfill/dist/polyfill.min.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js" defer></script>
  <script src="./js/vuetify_crud.js"></script>
</head>

<body>
  <div id="app">  
    <v-app id="inspire">
      <!-- Kopf und Suchfeld -->
      <v-card class="mt-12 mx-auto" elevation="12">
        <v-card-title>
          <span class="headline">{{ text.table }}</span>
          <v-spacer></v-spacer>
          <v-text-field 
            v-model="search" 
            prepend-icon="mdi-account-search" 
            :label="text.searchItem"
            clearable
            single-line
            hide-details>
          </v-text-field>
        </v-card-title>

        <!-- Tabelle -->
        <v-data-table   
          :headers="headers" 
          :items="contacts" 
          :search="search" 
          :items-per-page="rowsPerPage" 
          :sort-by="['id']"
          :sort-desc="[true]"
          multi-sort
          class="elevation-1">

          <!-- Modaler Dialog -->
          <template v-slot:top>
            <v-toolbar short>
              <v-toolbar-title>
                <v-icon>mdi-account-multiple-outline</v-icon> {{ text.topic }}
              </v-toolbar-title>
              <v-divider class="mx-4" inset vertical></v-divider>
              <v-spacer></v-spacer>

              <v-dialog v-model="dialog"  persistent max-width="500px">

                <template v-slot:activator="{ on }">                   
                  <v-btn :color="btnColor" dark class="ma-2 my-2 ml-2" v-on="on">
                    <v-icon dark>mdi-account-plus</v-icon> {{ text.newRec }}
                  </v-btn>
                    
                  <v-btn :color="btnColor" dark class="ma-2 my-2 mx-2" @click.native="openFileDialog">
                    <v-icon dark>mdi-file-upload</v-icon> {{ text.uploadJson }}
                  </v-btn>
                  <form id="jsonfile">
                    <input type="file" name="fileimport" id="file-upload" style="display:none" multiple @change="onFileChange">
                  </form>

                  <v-alert dense text class="my-2"
                    transition="scale-transition"                   
                    :type="alertType" 
                    :value="alert"                    
                    @click.native="toggleAlert('')"> {{ alertMsg }}
                  </v-alert>
                </template>

                <!-- Formular-Felder -->
                <v-card>
                  <v-card-title>
                    <span class="headline" v-show="showFields"><!-- New / Edit Header Dialog -->
                      <v-icon v-if="editedItem.id">mdi-account-edit</v-icon>
                      <v-icon v-if="!editedItem.id">mdi-account-plus</v-icon>
                      {{ formTitle }} {{ editedItem.id ? editedItem.id : '' }}
                    </span>
                    <span class="headline" v-show="!showFields"> <!-- Delete Header Dialog -->
                        <v-icon v-if="editedItem.id">mdi-account-remove</v-icon>              
                        {{ formTitle }} {{ editedItem.id ? editedItem.id : '' }}
                    </span>
                  </v-card-title>
                  <v-form ref="form" v-model="valid" lazy-validation>
                    <v-card-text>

                      <v-container v-show="!showFields" class="body-1">                       
                        {{ text.delQuestion }}
                      </v-container>

                      <v-container v-show="showFields">
                        <v-row>
                          <v-col cols="12" sm="6">
                            <v-text-field 
                              required
                              clearable
                              v-model="editedItem.firstname"
                              :label="headers.find(i => i.value === 'firstname').text + '*'"
                              :maxlength="headers.find(i => i.value === 'firstname').max"
                              :counter="headers.find(i => i.value === 'firstname').max"
                              :rules="nameRules"                              
                              :hint="text.counter"></v-text-field>
                          </v-col>
                          <v-col cols="12" sm="6">
                            <v-text-field 
                              required
                              clearable
                              v-model="editedItem.lastname" 
                              :label="headers.find(i => i.value === 'lastname').text + '*'"
                              :maxlength="headers.find(i => i.value === 'lastname').max"
                              :counter="headers.find(i => i.value === 'lastname').max"
                              :rules="nameRules"                                                   
                              :hint="text.counter"></v-text-field>
                          </v-col>
                        </v-row>
                        <v-row>
                          <v-col cols="12" sm="7">
                            <v-text-field 
                              required
                              clearable
                              v-model="editedItem.email" 
                              :label="headers.find(i => i.value === 'email').text + '*'"
                              :maxlength="headers.find(i => i.value === 'email').max" 
                              :counter="headers.find(i => i.value === 'email').max"
                              :rules="emailRules"                              
                              :hint="text.counter">
                            </v-text-field>
                          </v-col>
                          <v-col cols="12" sm="5">
                            <v-menu
                              v-model="menu"
                              :close-on-content-click="false"
                              transition="scale-transition"
                              offset-y max-width="290px" min-width="290px">
                              <template v-slot:activator="{ on }">
                                <v-text-field
                                  v-model="computedDateFormatted"
                                  :label="headers.find(i => i.value === 'born').text"
                                  append-icon="event"
                                  readonly v-on="on"
                                ></v-text-field>
                              </template>
                              <v-date-picker 
                                v-model="editedItem.born" 
                                no-title 
                                @input="menu = false"
                              ></v-date-picker>
                            </v-menu>
                          </v-col>
                        </v-row>
                        <v-row>
                          <v-col cols="12" sm="12">
                            <v-text-field
                              clearable
                              v-model="editedItem.street" 
                              v-show="showFields"
                              :label="headers.find(i => i.value === 'street').text"
                              :maxlength="headers.find(i => i.value === 'street').max"
                              :counter="headers.find(i => i.value === 'street').max"
                              :hint="text.counter">
                            </v-text-field>
                          </v-col>
                        </v-row>
                        <v-row>
                          <v-col cols="12" sm="4">
                            <v-text-field 
                              clearable
                              v-model="editedItem.postcode" 
                              :label="headers.find(i => i.value === 'postcode').text"
                              :maxlength="headers.find(i => i.value === 'postcode').max"                              
                              :counter="headers.find(i => i.value === 'postcode').max"
                              :rules="zipRules"
                              :hint="text.counter"></v-text-field>
                          </v-col>
                          <v-col cols="12" sm="8">
                            <v-text-field 
                              clearable
                              v-model="editedItem.place" 
                              :label="headers.find(i => i.value === 'place').text"
                              :maxlength="headers.find(i => i.value === 'place').max"
                              :counter="headers.find(i => i.value === 'place').max"
                              :hint="text.counter">
                            </v-text-field>
                          </v-col>
                        </v-row>
                        <v-row>
                          <v-col cols="12" sm="6">
                            <v-text-field 
                              clearable
                              v-model="editedItem.fon" 
                              :label="headers.find(i => i.value === 'fon').text"
                              :maxlength="headers.find(i => i.value === 'fon').max"
                              :counter="headers.find(i => i.value === 'fon').max"
                              :hint="text.counter"></v-text-field>
                          </v-col>
                          <v-col cols="12" sm="6">
                            <v-text-field
                              clearable
                              v-model="editedItem.mobil" 
                              :label="headers.find(i => i.value === 'mobil').text"
                              :maxlength="headers.find(i => i.value === 'mobil').max"
                              :counter="headers.find(i => i.value === 'mobil').max"
                              :hint="text.counter"></v-text-field>
                          </v-col>
                        </v-row>
                        <small>* {{ text.requiredField }}</small>
                      </v-container>                    
                    </v-card-text>

                    <!-- Formular-Buttons -->
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn 
                        :color="btnColor" 
                        dark text 
                        class="ma-2 mb-6 mr-2 ml-4 elevation-2" 
                        @click="close">
                          <v-icon dark>mdi-close-circle</v-icon> {{ text.cancel }}
                      </v-btn>
                      <v-btn
                        v-show="showFields"
                        :disabled="!valid"
                        :color="btnColor" 
                        text
                        class="ma-2 mb-6 mr-2 ml-4 elevation-2" 
                        @click="save">
                          <v-icon dark>mdi-content-save-edit</v-icon> {{ text.saveRec }}
                      </v-btn>
                      <v-btn
                        v-show="!showFields"
                        :color="btnColor" 
                        text
                        class="ma-2 mb-6 mr-2 ml-4 elevation-2" 
                        @click="remove">
                          <v-icon dark>mdi-delete</v-icon> {{ text.delRec }}
                      </v-btn>
                    </v-card-actions>
                  </v-form>
                </v-card>
              </v-dialog>
            </v-toolbar>
          </template>

          <!-- Slots für Tabelle (Edit, Delete, Email, Birthday, etc.) -->
          <template v-slot:item.action="{ item }">
            <v-icon :color="btnColor" class="mr-3" @click="editItem(item)">mdi-account-edit</v-icon>
            <v-icon :color="btnColor" @click="deleteItem(item)">delete</v-icon>
          </template>

          <template v-slot:no-data>
            <v-btn :color="btnColor" dark class="ma-2" @click="initialize">{{ text.resetBtn }}</v-btn>
          </template>

          <template v-slot:item.email="{ item }">
            <v-chip v-if="item.email" class="ma-2" outlined label :color="btnColor" 
              :href="getEmailLink(item.email)">
              <v-icon left>mdi-email</v-icon>{{ item.email }}              
            </v-chip>
          </template>

          <template v-slot:item.id="{ item }">{{ item.id }}         
            <v-icon :color="btnColor" v-if="checkBirthdate(item.born, '-')">mdi-cake-variant</v-icon>
          </template>

        </v-data-table>
      </v-card>
    </v-app>

  </div>
</body>

</html>