<div class="ui pointing menu fixed">
  <a routerLink="home" class="item" routerLinkActive="active">Home</a>
  <a routerLink="contacts" class="item" routerLinkActive="active">Kontakte</a>
  <a routerLink="upsertContact" class="item" routerLinkActive="active">Neuer Kontakt</a>
  <div class="right menu">
    <div class="item">
      <div class="ui transparent icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
  </div>
</div>
<div class="ui segment">
  <router-outlet></router-outlet>
</div>
