.v-application--wrap {
    background-image: url("../img/event.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .theme--light.v-card {    
    background: rgba(255,255,255,0.7);
  }
  
  .v-data-table-header, .v-data-footer { 
    background-color: #f9f1db
  }
  div.v-dialog.v-dialog--active { 
    background: #e0cd9f
  }
 
  tbody{
    background-color: #f7f5ef
  }
  .v-toolbar__title,
  .v-application .headline {
    color: #e88700
  }
  