.v-application--wrap {
    background-image: url("../img/event.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .theme--light.v-card {    
    background: rgb(246,219,243);
    background: linear-gradient(0deg, rgba(255,255,255,1) 30%, rgba(252,240,243,1) 100%);    
  }