<div class="ui middle aligned selection divided list">
  <ng-container *ngIf="contacts$ | async as contacts; else loading">
    <app-contact-list-item
      class="item"
      *ngFor="let c of contacts"
      [contact]="c"
      [routerLink]="c.id"
    ></app-contact-list-item>
    <p *ngIf="contacts && !contacts.length">
        {{'noContact' | translate }}
    </p>
  </ng-container>
</div>

<ng-template #loading>
  <div class="ui active dimmer">
    <div class="ui large text loader">{{'loadingData' | translate }}</div>
  </div>
</ng-template>
